
<article>
  <div class="parallax">
    <div class="bg__home">foo</div>
  </div>
    <header>
    <h2 class="text-center head">I'm Prasanth</h2>
    <h3 class="text-center head">a web developer.</h3>
  </header>

  <section>
    <div class="container text-center">
      <h4>I'm a web developer. I have a passion for web design and love to create for web and mobile devices.</h4>
    </div>
  </section>
  <section class="parallax">
    <div class="bg__break">
      <div class="capture">This webpage is developed using Angular 2.</div>
    </div>
  </section>
  <section>
    <div class="container">
      <p>I'm a developer, so I know how to create your website to run across devices using the latest technologies available.</p>
      <p>Now the page uploaded for testing.</p>
  
      
    </div>
  </section>
 <div class="parallax">
    <div class="bg__foo">foo</div>
    <!--<div class="bg__bar">bar</div>
    <div class="bg__baz">baz</div>
    <div class="bg__bazz">bazz</div>-->
  </div>
  </article>

<div class="container">
    <div class="row"><p></p></div>
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6">
         <div class="item"><img src="/assets/img/zoom1.jpg" alt="" />
         <div class="inr-con">
          <p>Touch / Hover me</p>
          <span>Lorem ipsum dolor sit amet.</span>
         </div>
         </div>
         
      </div>
      <div class="col-md-4 col-xs-12 col-sm-6">
         <div class="item"><img src="/assets/img/zoom2.jpg" alt="" />
         <div class="inr-con">
          <p>Touch / Hover me</p>
          <span>Lorem ipsum dolor sit amet.</span>
         </div>
         </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-6">
         <div class="item"><img src="/assets/img/zoom3.jpg" alt="" />
         <div class="inr-con">
          <p>Touch / Hover me</p>
          <span>Lorem ipsum dolor sit amet.</span>
         </div>
         </div>
      </div>
   </div>
   <div class="row"><p></p></div>
</div>
