a{color: inherit}
.profile{border-radius: 50%;width: 230px;}
.float-right{float: right;margin: 12px 0 0 20px; }
ul li{word-wrap: break-word;font-size: 88%;}


@media (max-width : 1024px){
.profile{width: 130px;}

}