<div class="container mtop">
  <div class="row">
    
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="float-right">
      <img class="profile" src="/assets/img/upload.jpg" title="Prasanth" alt="" />
    </div>
      <h4>Work Experience in Xerago</h4>
      <h5>2+ years of Industry experience in providing User Interface &amp; Development with most usable enterprise wide applications. Specialized in full website development, Front End development and Restful API Services.</h5>
      <p>Played a vital role in the Development of https://www.citicorpfinance.co.in (CITI India)</p>
      <table>
        <tr>
          <td>Client&#x2003;</td>
          <td>:&#x2003;<a href="https://www.citicorpfinance.co.in/CFIL/citicorpfinance.htm" target="_blank">Citicorp Finance (India)</a></td>
        </tr>
        <tr>
          <td>Duration&#x2003;</td>
          <td>:&#x2003;30 days</td>
        </tr>
      </table>
      
      <ul class="mtop5">
        <li>https://www.citicorpfinance.co.in/CFIL/our-products.htm</li>
        <li>https://www.citicorpfinance.co.in/CFIL/locate-us.htm</li>
        <li>https://www.citicorpfinance.co.in/CFIL/careers-with-us.htm</li>
        <li>https://www.citicorpfinance.co.in/CFIL/customer-service.htm</li>
        <li>https://www.citicorpfinance.co.in/CFIL/investors.htm</li>
        <li>https://www.citicorpfinance.co.in/CFIL/CLRA-Docs.htm</li>
        <li>https://www.citicorpfinance.co.in/CFIL/useful-links.htm</li>
        <li>https://www.citicorpfinance.co.in/CFIL/Fair-Practice-Code.htm</li>
        <li>https://www.citibank.com.sg/error-page/error-404.html</li>
        <li>https://www.citicorpfinance.co.in/CFIL/citicorpfinance.htm</li>
       </ul>
<h5>URLs which I have worked that's now in production:</h5>
<ul>
  <li>https://www.citibank.com.sg/gcb/credit_cards/dividend-card.htm</li>
<li>https://www.online.citibank.pl/citigold/english/Accounts/konta_oszczednosciowe_gd.htm</li>
<li>https://www.citibank.com/uae/consumer/credit_cards/prestige/benefits-air-travel.htm?icid=AECCBGT2</li>
<li>https://www.citibank.com/uae/consumer/credit_cards/citiprestige/benefits-air-travel.htm?icid=AECCBGT2</li>
<li>https://www.online.citibank.co.in/products-services/banking/citigold/citigold.htm</li>
<li>https://www.citibank.ae/uae/consumer/credit_cards/car_rental.htm</li>
<li>https://www.citibank.com.sg/gcb/otherservices/citimobile.htm</li>
<li>https://www.online.citibank.co.in/products-services/loans/ready-cash-personal-loan-form.htm</li>
<li>https://www.ipb.citibank.com.sg/english/footer/privacy.htm?lid=IPBENCGGCPFOTLPrivacy&cpc_page=true</li>
<li>https://www.citibank.com.sg/commercialbank/home/products-and-services.htm?lid=SGENCBGNKLNTLProductsAndServices</li>
<li>https://www.citibank.com.au/aus/footer/contact.htm</li>
<li>https://www.citibank.co.id/bahasa/credit_card/compare/addCard.htm</li>
</ul>
<h5>URLs for Reference:</h5>
<ul>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-INDONESIA/2016/Prime_travel/Prime-travel-home.htm</li>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-SINGAPORE-GCB/2016/creditcard/honestbee.htm</li>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-SINGAPORE-IPB/2016/open-an-IPB-account/open-an-ipb-account.htm</li>
<li>https://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-SINGAPORE-IPB/2016/promotions/global-online-wealth-management-eng/contact-form.htm</li>
<li>https://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-SINGAPORE-IPB/2016/open-an-IPB-account/open-an-ipb-account.htm</li>
<li>https://demo.xerago.com/website/CitiIndia/2016/apple/iPhone_SE.htm</li>
<li>http://demo.xerago.com/website/B2C-FINAL/HTML/buynew_payment.html</li>
<li>http://demo.xerago.com/website/B2C-FINAL/HTML/buynew_later.html</li>
<li>http://demo.xerago.com/website/B2C-FINAL/HTML/get_quote.html</li>
<li>http://demo.xerago.com/website/B2C-FINAL/HTML/buy_additional.html</li>
<li>http://demo.xerago.com/website/Citi-EMEA/CITI-UAE/rebranding/2014/consumer/credit_cards/travel_insurance.htm</li>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-HONGKONG/hongkong_404/index.htm</li>
<li>http://demo.xerago.com/website/B2B-Motor/search_quote_details.html</li>
<li>http://demo.xerago.com/website/B2B-Motor/renew_policy_details.html</li>
<li>http://demo.xerago.com/website/Citi-EMEA/CITI-UAE/rebranding/2014/consumer/credit_cards/new-check.htm</li>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-SINGAPORE-IPB/2016/citigold-distinction/citi-mobile.html</li>
<li>http://demo.xerago.com/website/CitiIndia/2016/Survey_Questionnaire/survey_form.html</li>
<li>http://demo.xerago.com/website/CitiIndia/2016/eStatements/WorldDebitMasterCard.htm</li>
<li>https://demo.xerago.com/website/Citi-EMEA/CITI-UAE/rebranding/2014/consumer/forms/bureau-consent-form.htm</li>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-INDONESIA/2016/revamp/index.html</li>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-INDONESIA/2016/offers/offers.htm</li>
<li>http://demo.xerago.com/website/CitiIndia/2016/hotdeals/offers.htm</li>
<li>https://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-INDONESIA/2016/revamp/index.htm</li>
<li>https://demo.xerago.com/website/CitiIndia/2016/ipl/survey_form.html?parmeter=BABFBBHGCBABHIBFJIEAADGFJCAEFFABABEHFFS</li>
<li>http://demo.xerago.com/website/Citi-EMEA/CITI-UAE/rebranding/2014/consumer/credit_cards/summer-surprises.htm</li>
<li>http://demo.xerago.com/website/CitiIndia/2014/Amazon_Diwali/Amazon_Diwali.htm</li>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-SINGAPORE-IPB/2016/giftselection/giftselection.html</li>
<li>http://demo.xerago.com/website/CitiIndia/citicorp/2016/revamp/citicorpfinance.htm</li>
<li>http://demo.xerago.com/website/CitiIndia/2016/Spends_Campaign/Spends_Campaign.htm</li>
<li>http://demo.xerago.com/website/Citi-EMEA/CITI-UAE/rebranding/2014/consumer/reach_us/citi_mobile.htm</li>
<li>http://demo.xerago.com/website/CitiIndia/2016/citi-prestige/prestige/register-your-interest-direct.html</li>
<li>https://demo.xerago.com/website/CitiIndia/2016/ims/imsdev.htm?parmeter=FFFFFFFFFFHHHHHHH9711112109600000001450FBBACCABH</li>
<li>http://demo.xerago.com/website/CitiIndia/2016/feedback/atm-feedback.htm</li>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-INDONESIA/2016/contact-us/english/static/contact_us.htm</li>
<li>http://demo.xerago.com/website/CitiIndia/2016/gold-banners/index.htm</li>
<li>http://demo.xerago.com/website/Citi-Apac-Emea/Apac/CITI-INDONESIA/2016/compare-cards/addCard.htm</li>
</ul>

<h4>Work Experience in Newgen </h4>
<p>1+ years of experience in creating digital books using the latest technologies.</p>
    <table>
        <tr>
          <td>Client&#x2003;</td>
          <td>:&#x2003;<a href="http://www.frommers.com/" target="_blank">Frommers</a></td>
        </tr>
      </table>
      <ul class="mtop5">
        <li>Involved in creating Animation books.</li>
        <li>Involved in creating Interactivity books.</li>
      </ul>

    <h4>Roles and Responsibilities in Zonozs</h4>
      <p>I have started my career at zonozs as a Process Associate, which involves Ebook testing.</p>
      <ul>
        <li>Involved in Device testing, Content testing</li>
        <li>Review the ebook and epub in the listed device and verifying the functionality of it</li>
        <li>Interactivity, formatting of books are tested</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>

                 
                
                
</div>
